
  <div style="text-align: center;">
    <img src="img/check.png" style="width: 10%">
    <h2>{{viewTitle}}</h2>

<br><hr /><br><br>
</div>
<div id="printpg" style="margin-left: 20%;">
  <h3>Name : {{consignment.name}}</h3>
  <h3>Address : {{consignment.address}}</h3>
  <h3>Mobile : {{consignment.mobile}}</h3>
  <h3>Email : {{consignment.email}}</h3>
  <h3>Sender : {{consignment.Sender}}</h3>
  <h3>Reciever : {{consignment.Receiver}}</h3>
  <h3>Sender's Address : {{consignment.Source_Branch}}</h3>
  <h3>Reciever's Address : {{consignment.Destination_Branch}}</h3>
  <h3>Weight : {{consignment.Weight}}</h3>
  <h3>Cost : {{r}}</h3>
  <h3>Truck Id : {{tid}}</h3>
<br><hr /><br>
</div>
<div style="text-align: center;">
    <button class="btn btn-info" onclick="printDiv()">Print bill</button>
</div>
