
  <div style="text-align: center;">
    <img src="img/check.png" style="width: 10%">
    <h1>You have successfully </h1>
    <h2>{{viewTitle}}</h2>

<br><hr /><br><br>
</div>
<div id="printpg" style="margin-left: 20%;">
  <h3>Name :</h3>  <h4 >{{consignment.name}}</h4>
  <h3>Address :</h3>  <h4>{{consignment.address}}</h4>
  <h3>Mobile :</h3><h4>{{consignment.mobile}}</h4>
  <h3>Email :</h3>  <h4>{{consignment.email}}</h4>
  <h3>Sender :</h3>  <h4>{{consignment.Sender}}</h4>
  <h3>Reciever :</h3>  <h4>{{consignment.Receiver}}</h4>
  <h3>Source_Branch :</h3>  <h4>{{consignment.Source_Branch}}</h4>
  <h3>Destination_Branch :</h3>  <h4>{{consignment.Destination_Branch}}</h4>
  <h3>Weight :</h3>  <h4>{{consignment.Weight}}</h4>
  <h3>Cost :</h3>  <h4>{{r}}</h4>
<br><hr /><br>
</div>
<div style="text-align: center;">
    <button class="btn btn-info" onclick="printDiv()">Print bill</button>
</div>
