<%- include("partials/header2.ejs"); -%>

<div class="page-wrapper bg-orange p-t-100 p-b-100 font-robo">
  <div class="wrapper wrapper--w680">
    <div class="card card-1">
      <div class="card-heading"><img class="image" src="img/truck2.jpg"></div>
      <div class="card-body" id="printpg">
        <h2 class="title"><b>Consignment Info</b></h2>
        <hr>
        <br>
        <h3>Consignment No. : <%= x._id %></h3><br>
        <h3>Name :   <%= x.name %></h3><br>
        <h3>Email :   <%= x.email %></h3><br>
        <h3>Address :   <%= x.address %></h3><br>
        <h3>Mobile :   <%= x.mobile %></h3><br>
        <h3>Weight :   <%= x.weight %></h3><br>
        <h3>Sender :   <%= x.sender %></h3><br>
        <h3>Reciever :   <%= x.receiver %></h3><br>
        <h3>Sender's Address :   <%= x.sourceBranch %></h3><br>
        <h3>Reciever's Address :   <%= x.destinationBranch %></h3><br>
        <h3>Cost :   <%= x.cost %></h3><br>
        <h3>Truck Id :   <%= x.truck_id %></h3>
        <br>
        <hr>
        <br>
        <a href="/" class="btn btn-lg btn--radius btn--green" >Home</a>
      </div>
    </div>
  </div>
</div>



<%- include("partials/footer2.ejs"); -%>
