<h3><a class="btn btn-secondary" href="/truck"><i class="fa fa-plus"></i> Create New</a> truck List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Truck Id</th>
            <th>Truck No</th>
            <th>No. Of Cons. Handled</th>
            <th>Assigned</th>
            <th>Stage</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.t_id}}</td>
            <td>{{this.t_no}}</td>
            <td>{{this.no_of_csg_handled}}</td>
            <td>{{this.assigned}}</td>
            <td>{{this.stage}}</td>
            <td>
                <a href="/truck/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/truck/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>